@font-face {
  font-family: "Gotham-Bold";
  src: local("Gotham-Bold"),
    url("../css/Gotham-Font/Gotham-Font/GothamBold.ttf") format("truetype");
}
@font-face {
  font-family: "GothamBook";
  src: local("GothamBook"),
    url("../css/Gotham-Font/Gotham-Font/GothamBook.ttf") format("truetype");
}
@font-face {
  font-family: "Gotham-Medium";
  src: local("Gotham-Medium"),
    url("../css/Gotham-Font/Gotham-Font/GothamMedium.ttf") format("truetype");
}
@font-face {
  font-family: "Gotham-Thin";
  src: local("Gotham-Thin"),
    url("../css/Gotham-Font/Gotham-Font/Gotham-Thin.otf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "GothamBook" !important;
}

.sidenav {
  background-color: #f0f5ff;
}
.sdnpddeddv {
  padding: 17px 17px;
}
.logo-section {
  display: flex;
  background-color: #ffffff;
  justify-content: space-evenly;
  padding: 11px;
  /* border-radius: 4px;
  box-shadow: 0px 2px 8px rgba(3, 50, 154, 0.1); */
}
.cmpnynmedv {
  display: flex;
  align-items: baseline;
}
.cmpnynmedv > h1 {
  width: 89%;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: #333333;
}
.cmpnynmedv > img {
  width: 11%;
}
.logosctncontent > p {
  color: #666666;
  font-size: 14px;
  line-height: 16px;
}
.logosectionimg {
  padding-top: 10px;
}
.sidenavlinkscontainer {
  margin-top: 46px;
}
.sidenavlinks {
  padding-left: 37px;
  font-size: 14px;
  color: #666666;
}
.dashbord {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.managesaleslist {
  margin-bottom: 5px;
}
.sidenavlinks > img {
  margin-right: 15px;
}
.userslogo {
  margin-right: 11px !important;
}
.sidenav-titiles {
  padding-left: 37px;
  font-size: 12px;
  color: #999999;
  margin-bottom: 11px;
}
.sidnavborderline {
  border: 0.5px solid #bbbbbb;
}
.sidnnavrow {
  margin-bottom: 23px;
}
.sdncopyr {
  color: #999999;
  font-size: 10px;
  padding-bottom: 133px;
  line-height: 12px;
  text-align: center;
}
.dashbord-main {
  background-color: #f9f9f9;
  padding: 0px 13px;
}
.dshboadsearchbar {
  border: none;
  padding: 2px 30px;
  background-color: #f9f9f9;
}
.dshboadsearchbar:focus {
  outline: none !important;
  background-color: #f9f9f9;
}
.srchcntainer {
  display: flex;
  padding-left: 20px;
  padding-top: 17px;
  align-items: baseline;
  justify-content: space-between;
}
.dshboadsearchbar::placeholder {
  font-size: 14px;
  letter-spacing: 1%;
}
.addpropbtn {
  width: 17%;
  text-align: center;
  background-color: #2e6af0;
  color: #ffffff;
  font-size: 14px;
  border-radius: 8px;
  margin-right: 16px;
  cursor: pointer;
  padding: 7px 0px;
  min-width: 156px;
  font-weight: 600;
}
.serchimg {
  position: relative;
  top: -29px;
  left: -1px;
}
.srchline {
  border: 0.5px solid #bbbbbb8e;
  width: 53%;
  margin-top: -17px;
  margin-bottom: 46px;
  margin-left: 1rem;
}
/* border: 0.5px solid #bbbbbb8e;
    width: 53%;
    margin-top: -17px;
    margin-bottom: 46px;
    margin-left: 1rem; */
.officerstatuscntner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 58px;
  flex-wrap: wrap;
}
.cards {
  display: flex;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 11px 12px;
  min-width: 202px;
  min-height: 97px;
  align-items: center;
  margin-bottom: 0.4rem;
  color: #666666 !important;
}
.cards p {
  margin-bottom: 0px;
}

.card-green {
  border: 1px solid #0fbc49;
}
.card-red {
  border: 1px solid #ff523d;
}
.card-purple {
  border: 1px solid #aa3dff;
  width: 21%;
}
.card-blue {
  border: 1px solid #2e6af0;
  width: 21%;
}
.number-green {
  color: #0fbc49;
}
.number-red {
  color: #ff523d;
}
.number-purple {
  color: #aa3dff;
}
.number-blue {
  color: #2e6af0;
}
.numbofofficers {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0;
}
.regstdoffcers {
  font-size: 14px;
  color: #666666;
}
.officerstatuslogo {
  margin-right: 5px;
}
.graphdv {
  background-color: #fff;
  border-radius: 10px;
  padding: 9px;
}
.propsstatsprimmheading {
  color: #2e6af0;
  font-size: 16px;
  font-weight: 700;
}
.reqlocsectn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
  margin-left: 23px;
  margin-right: 23px;
}
.piechartdv {
  padding: 9px 31px 27px 31px;
  background-color: #fff;
  border-radius: 10px;
}
.chartwrapper {
  display: flex;
  padding-bottom: 10px;
  padding-top: 15px;
  align-items: flex-end;
  border-bottom: 1px solid #bbbbbb8e;
}
.bordernone {
  border-bottom: none !important;
}
.bluepiechart {
  margin-right: 12px;
  width: 75px;
  height: 75px;
}
.propstatusdiv {
  width: 33%;
}
.propsstatsubheading {
  font-weight: 700;
  font-size: 16px;
  color: #000000;
  margin-bottom: 9px;
  line-height: 19px;
}
.propsstatstotal {
  color: #7c828d;
  font-size: 14px;
}
.budgetrnge-section {
  display: flex;
  justify-content: space-between;
  padding-bottom: 45px;
  margin-left: 23px;
  margin-right: 23px;
}
.budgetrngwrapper {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.budgetrngcontent {
  background-color: #fff;
  padding: 18px 29px 25px 28px;
  text-align: center;
  border-radius: 10px;
  height: 100%;
}
.budgetrngcontentdiv {
  border-bottom: 1px solid #bbbbbb8e;
  padding-top: 49px;
}
.budgetrngcontentdiv > h1 {
  font-size: 14px;
  font-weight: 700;
  color: #666666;
  margin-bottom: 13px;
}
.budgetrngcontentdiv > p {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 41px;
  color: #2e6af0;
}

:root {
  --customblue: #2e6af0;
  --textcolor: #666666;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "GothamBook";
}
.sidenav {
  background-color: #f0f5ff;
}
.sdnpddeddv {
  padding: 17px 17px;
}
.logo-section {
  display: flex;
  background-color: #ffffff;
  justify-content: space-evenly;
  padding: 11px;
  /* border-radius: 4px;
  box-shadow: 0px 2px 8px rgba(3, 50, 154, 0.1); */
}
.cmpnynmedv {
  display: flex;
  align-items: baseline;
  cursor: pointer;
}
.cmpnynmedv > h1 {
  width: 89%;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: #333333;
}
.cmpnynmedv > img {
  width: 11%;
}
.logosctncontent > p {
  color: #666666;
  font-size: 14px;
  line-height: 16px;
}
.logosectionimg {
  padding-top: 10px;
}
.sidenavlinkscontainer {
  margin-top: 46px;
}
.sidenavlinks {
  padding-left: 37px;
  font-size: 14px;
  color: #666666;
}
.sidenavlinks:hover{
  color: #2196f3;
}
.dashbord {
  margin-bottom: 3px;
}
.managesaleslist {
  margin-bottom: 5px;
}
.sidenavlinks > img {
  margin-right: 15px;
}
.userslogo {
  margin-right: 11px !important;
}
.sidenav-titiles {
  padding-left: 37px;
  font-size: 12px;
  color: #999999;
  margin-bottom: 11px;
  margin-top: 2rem;
}
.sidnavborderline {
  border: 0.5px solid #bbbbbb;
}
.sidnnavrow {
  margin-bottom: 23px;
}
.sdncopyr {
  color: #999999;
  font-size: 10px;
  padding-bottom: 133px;
  line-height: 12px;
  text-align: center;
}
/* .sidnnavrow{
    border: 1px solid #bbbbbb8e;
} */
.rightsidewrapp {
  background: #f9f9f9;
  padding-top: 4rem;
  text-align: center;
  padding-left: 4rem;
  padding-right: 4rem;
  min-height: 100vh;
}
.leftsidewrapp {
  background: #f0f5ff;
  min-height: 100vh;
  padding-top: 8rem;
}
.remt1 {
  width: 80%;
  object-fit: cover;
}
.signup1 {
  font-size: 38px;
  line-height: 46px;
  letter-spacing: 0.03em;
  color: #333333;
  font-weight: 900;
  text-align: center;
}
.fortg {
  padding-top: 5rem;
}
.rmee {
  position: relative;
  bottom: 4.5rem;
  left: 3.7rem;
}

.social1 {
  background: #e9eeff;
  border: none;
  font-weight: normal;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.01em;
  color: #666666;
  padding: 1rem;
  margin-top: 3rem;
  width: 100%;
  margin-bottom: 0.1rem;
  border-radius: 12px;
}
button:focus {
  outline: none;
}
.google1 {
  width: 25px;
  margin-right: 0.6rem;
}
.sign23 {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 13px;
  letter-spacing: 0.01em;
  color: #666666;
  background: inherit;
  display: inline-block;
  padding: 1rem;
  position: relative;
  top: 1.4rem;
}
.sign21 {
  width: 100%;
  background: #bbbbbb;
  height: 1px;
}
.emails2 {
  padding-top: 2rem;
}
.username1 {
  background: #f2f2f2;
  border-radius: 12px;
  border: none;
  font-size: 15px;
  padding: 0rem 1rem;
  height: 55px;
}
.submitt1 {
  color: #fff;
  border: none;
  font-weight: normal;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.01em;
  background: var(--customblue);
  padding: 1rem;
  width: 100%;
  font-weight: 500;
  margin-bottom: 0.1rem;
  border-radius: 12px;
  transition: 1s ease-in-out;
}
.adduser {
  width: 20px;
  margin-right: 1rem;
  max-height: 17px;
}
.sugngnu {
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #666666;
  padding-top: 1.2rem;
}

.showwa {
  text-align: right;
}
.show1 {
  position: relative;
  bottom: 2.5rem;
  right: 1rem;
  cursor: pointer;
}

@media (max-width: 764px) {
  .leftsidewrapp {
    display: none;
  }

  .card-green {
    /* max-width: 200px; */
  }
  .cards {
    flex-wrap: nowrap !important;
  }
  .rightsidewrapp {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .mobihide {
    display: none;
  }
  .mobilesidenav {
    display: block !important;
  }
  .propitemsdemarcatn {
    display: none;
  }
}
@media (min-width: 764px) {
  .sidebar {
    display: none !important;
  }
  .datefilter1 {
    margin-right: 0.7rem;
  }
}
.rmem2 {
  padding-left: 5rem;
  margin-left: 2rem;
}
.forgopassw {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #999999;
  padding-top: 2rem;
}

.logi {
  font-size: 15px;
  text-align: right;
  padding-bottom: 0.7rem;
  position: relative;
  bottom: 0.3rem;
}
.submitt1:hover {
  transition: 1s ease-in-out;
  color: white;
  background: #9eb6eb;
}
.copprt {
  font-size: 12px;
  line-height: 12px;
  color: #999999;
  padding-top: 5rem;
}

.losttet {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #333333;
  text-align: center;
  margin-top: 2rem;
}
.lostbtn {
  max-width: 200px;
  margin-top: 2rem;
}
.mobileserchwrapper {
  display: none;
}

.mobilecardcarousel::-webkit-scrollbar {
  width: 0;
  background-color: var(--secondary-background-color);
}

.mobilecardcarousel {
  height: 120px;
  padding: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  overflow-y: hidden;
  padding: 0 0;
  overflow-x: auto;
  justify-content: space-around;
  display: none;
}
.mobChartdiv {
  padding: 93px 30px 8px 10px;
  background-color: #fff;
  border-radius: 10px;
  display: none;
  width: 100%;
}
.mobileviewreqprop {
  display: none;
}
.reqpropdiv {
  width: 55%;
  display: block;
  /* min-height: 375px;
  max-height: 375px; */
}

@media (max-width: 850px) {
  .mobileserchwrapper {
    display: flex;
    padding-top: 18px;
    align-items: baseline;
    justify-content: space-between;
    padding-right: 1rem;
  }
  .sidenav {
    display: none;
  }
  .dashbord-main {
    max-width: 100%;
  }
}
/* mobile responsiveness */
@media (max-width: 760px) {
  .dashbord-main {
    max-width: 100% !important;
  }

  .officerstatuscntner {
    /* display: none; */
  }
  .mobilecardcarousel {
    overflow-x: scroll;
  }
  .sidnnavrow {
    display: none;
  }
  .srchcntainer {
    display: none;
  }
  .srchline {
    display: none;
  }
  .mobilsdnavdvder {
    border: 1px solid #bbbbbb8e;
  }

  .mobchrtwrapper {
    width: 100% !important;
  }
  .mobiledshboadsearchbar {
    height: 50px;
    border-radius: 6px;
    padding: 9px;
    border: none;
    outline: none;
    padding-left: 34px;
  }
  .mobserchimg {
    position: relative;
    top: -36px;
    left: 8px;
  }
  .reqlocsectn {
    flex-direction: column;
  }
  .graphdv {
    display: none;
  }
  .mobChartdiv {
    display: block;
  }
  .propstatusdiv {
    width: 100%;
  }
  .mobchrtwrapper {
    margin-bottom: 30px;
  }
  .budgetrnge-section {
    flex-direction: column;
  }
  .budgetrngwrapper {
    width: 100%;
    margin-bottom: 33px;
  }
  .mobileviewreqprop {
    display: block;
    margin-bottom: 45px;
  }
  .reqpropdiv {
    display: none !important;
  }
  .inppt {
    flex-wrap: wrap;
  }
  .datefilter {
    margin-bottom: 0.3rem;
  }
  .datefilter1 {
    margin-bottom: 0.3rem;
    margin-right: 1rem;
  }
  .flexd1 {
    flex-wrap: wrap;
  }
  .showing1 {
    margin-bottom: 1rem;
    padding-left: 0px;
  }
  .flexd1 nav {
    margin-left: 1.3rem;
  }
  .dataTables_wrapper {
    overflow-x: scroll !important;
  }
}

@media (max-width: 800px) {
  .reqlocsectn {
    flex-direction: column;
  }
  .budgetrnge-section {
    flex-direction: column-reverse;
  }
  .propstatusdiv {
    width: 100%;
  }
  .budgetrngwrapper {
    width: 100%;
  }

  .sidenav {
    min-width: 35%;
  }
  .officerstatuscntner {
    /* display: none; */
  }
  .mobchrtwrapper {
    margin-bottom: 44px;
  }
  .reqpropdiv {
    display: block;
    margin-bottom: 44px;
    /* min-height: 375px;
    max-height: 375px; */
  }
  .addpropbtn {
    width: 63%;
  }
  .dshboadsearchbar {
    padding: 2px 24px;
  }
  .srchcntainer {
    padding-left: 0px;
  }
  .firstshow {
    display: block !important;
  }
}
@media (max-width: 1024px) {
  .mobchrtwrapper {
    width: 59%;
  }
  .reqpropdiv {
    width: 55%;
  }
  .budgetrnge-section {
    padding-bottom: 143px;
  }
}
@media (max-width: 1124px) {
  .cards {
    /* flex-wrap: wrap; */
    margin-top: 0.4rem;
  }
  .dataTables_wrapper {
    overflow-x: scroll !important;
  }
  .officerstatuscntner {
    /* justify-content: space-between; */
  }
  .sidenavlinks {
    padding-left: 5px;
  }
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 248px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  z-index: 20;
  overflow: auto;
  transition: 0.1s ease-in-out;
}
.hidesidebar {
  width: 0px;
}
.firstshow {
  display: block !important;
}
.secondhide {
  display: none;
  width: 0px;
}
.toggleleft {
  text-align: right;
  width: 222px;
}
.tomes {
  color: black;
  font-size: 2px;
  font-size: 2em;
  z-index: 222;
}

.piechartcontainer {
  width: 75px;
  font-weight: bold;
  font-size: 35px;
  line-height: 27px;
  text-align: center;
  color: #000000;
}
/* #piechartmodule {
  height: 86px !important;
  width: 204px !important;
  position: relative;
  right: 4rem;
  bottom: 1.5rem;
} */

.pietext {
  font-weight: bold;
  font-size: 23px;
  line-height: 33px;
  text-align: center;
  color: #000000;
  position: absolute;
  /* top: 7.3rem;    */
}
.cmet {
  position: relative;
  top: 1.49rem;
  left: 1.1rem;
  font-weight: 900;
}
/* registerd officers page styling */
.tableheadingdiv {
  display: flex;
  padding-left: 26px;
  align-items: baseline;
  justify-content: space-between;
}
.table-responsive {
  background-color: #fff;
  border-radius: 8px;
  padding: 25px 0px;
}
.table thead th {
  border-bottom: none;
  font-size: 12px;
  padding-left: 26px;
  padding-right: 0px;
  font-weight: 300;
  color: #666666;
  background-color: #f0f5ff;
}
table th {
  width: auto !important;
}
.table td,
.table th {
  padding: 23px 0px 23px 21px;
  font-size: 14px;
  color: #333333;
}
tr:hover{
  background-color: #e9f2e9;
}
.bckcolorfade {
  background-color: #e9f2e9;
}
.crrntpjectstats {
  display: inline-block;
  cursor: pointer;
  font-size: 12px;
  line-height: 14px;
  border-radius: 8px;
  padding: 4px 11px;
}
.redstats {
  background: rgba(255, 82, 61, 0.1);
  color: #ff523d;
}
.greenstats {
  background: rgba(15, 188, 73, 0.1);
  color: #0fbc49;
}
.yellowstats {
  color: #ffa63d;
  background: rgba(255, 166, 61, 0.1);
}
.bluestats {
  color: #2e6af0;
  background: rgba(46, 106, 240, 0.1);
}
.rolebtn {
  background-color: #fff;
  color: #2e6af0;
  border: 1px solid #2e6af0;
  margin-right: 33px;
}
.staffpos {
  font-weight: 300;
}
.zonalheaders {
  padding: 12px 6px;
  font-size: 12px;
  text-align: center;
  font-weight: 700;
  border-radius: 16px;
  background-color: #ffffff;
  color: #2e6af0;
}
.zoneheadwrapper {
  background-color: #f5f5f5 !important;
  padding: 6px 5px !important;
  border: none !important;
}
.zonreqimg {
  margin-top: 0px;
  padding: 39px 18px;
  background-color: #fff;
  border-radius: 16px;
}
.greystats {
  color: #999999;
  background: #f5f5f5;
}
.SE {
  color: #999999;
  background: #f9f9f9;
}
.zonreqimg > img {
  margin-bottom: 40px;
}
.zonreqimg > div {
  text-align: center;
  padding-top: 51px;
  font-weight: 700;
  border-top: 1px solid #d8d8d8;
}
.zonalheaders:active {
  box-shadow: 0px 4px 10px rgba(102, 102, 102, 0.16);
}
.mssgeheading {
  font-weight: 700;
  font-size: 20px;
  padding-top: 50px;
}
.msg-content {
  text-align: center;
  padding-top: 50px;
}
.msg-content > p {
  font-size: 16px;
  color: #999999;
  margin: 5px 0px 22px 0px;
}
.msg-content > span {
  background-color: #2e6af0;
  color: #ffffff;
  padding: 10px 19px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 14px;
}
.wdlndpropwrapper {
  padding: 20px;
}
.slidersct {
  margin-top: 46px;
}
.estatecntntdiv {
  display: flex;
  align-items: flex-end;
  padding-top: 15px;
  justify-content: space-between;
}
.estatename {
  font-size: 16px;
  font-weight: 700;
  width: 47%;
  padding-top: 20px;
  padding-bottom: 31px;
  border-right: 1px solid #bbbbbb;
}
.estatepricediv {
  padding-bottom: 20px;
}
.prrng {
  color: #666666;
  font-size: 14px;
  margin-bottom: 0;
}
.estateprice {
  color: #2e6af0;
  font-weight: 700;
  font-size: 28px;
  margin: 0;
}
.estatepropsdiv {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  padding: 20px 0px;
  color: #666666;
  border-bottom: 1px solid #bbbbbb;
  border-top: 1px solid #bbbbbb;
}
.ntavailable {
  color: #eb5757;
}
.amennitiesdiv {
  display: flex;
  justify-content: space-evenly;
}
.estdecheading {
  font-weight: 700;
  font-size: 16px;
  color: #333333;
}
.estdespara {
  color: #666666;
  margin-bottom: 0;
}
.estdescriptindiv {
  padding: 20px 0px;
  border-bottom: 1px solid #bbbbbb;
}
.ammimg {
  margin-right: 12px;
}
.amentpitems {
  margin-bottom: 13px;
}
.amennitiessectn {
  padding: 20px 0px 30px 0px;
  color: #2e6af0;
  border-bottom: 1px solid #bbbbbb;
}
.wdlproptypesdiv {
  display: flex;
  padding-top: 16px;
  padding-bottom: 40px;
  justify-content: space-between;
}
.propstypsstats {
  width: 23%;
  display: flex;
  color: #666666;
  justify-content: space-around;
}
.greencircle {
  margin-right: 5px;
}
.wdlproptypesection {
  padding-bottom: 70px;
}
.avitemspricediv {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 20px;
}
.propitemsdemarcatn {
  border: 1px solid #bbbbbb;
}
.demarctndiv {
  width: 58%;
}
.grenncircltxt {
  color: #666666;
  width: fit-content;
  min-width: 120px;
}
.availblpricewd {
  color: #333333;
  font-size: 16px;
  font-weight: bold;
  width: fit-content;
  min-width: 130px;
}
/* modal section design */
.modal-content {
  padding: 38px 30px;
}
.mdalheader {
  font-weight: 700;
}
.rdfrmlblslt {
  position: relative;
  display: inline-block;
  font-size: 11px;
  top: 9px;
  right: -13px;
  color: #333333;
  background-color: #fff;
  padding: 0px 13px;
}
.rdseltinpt {
  height: 50px;
  border: 1px solid rgba(46, 106, 240, 0.1);
  -webkit-appearance: none;
}
.rdseltinpt:invalid {
  color: #9999;
  font-size: 11px;
}
.rdsltopt {
  text-overflow: ellipsis;
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
}
.rdfrmlbl {
  position: relative;
  display: inline-block;
  font-size: 11px;
  top: 9px;
  color: #333333;
  right: -13px;
  font-weight: 300;
  background-color: #fff;
  padding: 0px 13px;
}
.text-right {
  text-align: right;
  position: relative;
  top: -36px;
  right: 22px;
}
.rdsignupinput {
  border: 1px solid rgba(46, 106, 240, 0.1);
  outline: none;
  height: 50px;
  border-radius: 4px;
}
.rdsignupinput:focus {
  outline: none !important;
}
.rdsignupinput::placeholder {
  font-size: 11px;
  color: #9999;
}
.modaltxtareafld {
  border: 1px solid rgba(46, 106, 240, 0.1);
  border-radius: 4px;
}
.uploadsctin {
  text-align: center;
  font-size: 11px;
  padding: 24px;
  margin-bottom: 23px;
  color: #999999;
  background-color: #f2f2f2;
}
.uploadbtn {
  display: inline-block;
  background-color: #999999;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 12px;
  padding: 8px 14px;
  font-weight: 700;
  border-radius: 8px;
}
.mdbtnwrapper {
  text-align: center;
}
.modaladdbtn {
  padding: 11px;
  display: inline-block;
  width: 34%;
  font-weight: 700;
}

/* hiding data tables injected ui components */
.table-responsive .form-inline {
  display: block;
  overflow-x: hidden;
}
.dashbord-main {
  overflow-x: hidden;
}
.dataTables_length {
  display: none;
}
#agent_paginate {
  display: none;
}
.dataTables_info {
  display: none;
}
#agent_filter label {
  display: none !important;
}
.regoffdashbdwrapper {
  background-color: #ffffff;
  border-radius: 40px;
  padding: 43px 37px;
  margin-top: 55px;
}
.regoffdshheading {
  display: flex;
  border-bottom: 1px solid rgba(46, 106, 240, 0.1);
  padding-bottom: 30px;
  justify-content: space-between;
}
.regoffprimaryheading {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 0px;
}
.regoffsubheading {
  font-size: 16px;
  margin-bottom: 0px;
  color: #666666;
}
.regoffdsbpaymentdv {
  display: flex;
  justify-content: space-around;
  margin-top: 29px;
  border: 1px dashed #2e6af0;
  background-color: #f9f9f9;
  border-radius: 16px;
  margin-bottom: 18px;
}
.incmewrapper {
  text-align: center;
  padding: 40px 0px;
}
.incmename {
  font-size: 14px;
  color: #666666;
  margin-bottom: 3px;
}
.incmeprice {
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: #2e6af0;
}
.incomedivider {
  border: 1px solid rgba(46, 106, 240, 0.1);
}
.regoffdshbrankdiv {
  display: flex;
  border-top: 1px solid rgba(46, 106, 240, 0.1);
  border-bottom: 1px solid rgba(46, 106, 240, 0.1);
  padding-top: 34px;
  padding-bottom: 20px;
  margin-bottom: 25px;
  justify-content: space-around;
}
.regoffaffstatsdiv {
  width: 45%;
}
.reqdatasctn {
  display: flex;
  padding: 21px 0px 21px 42px;
  border: 1px dashed rgba(46, 106, 240, 0.1);
  border-radius: 8px;
}
.reqdatspntg {
  background-color: #eaf0fd;
  color: #333333;
  font-size: 13px;
  right: -54px;
}
.reqdatacntnt {
  margin-bottom: 10px;
}

@media (max-width: 564px) {
  .estatepropsdiv {
    font-size: 14px;
    flex-wrap: wrap;
  }
  .estdecheading,
  .estdespara,
  .amentpitems,
  .availblpricewd,
  .avitemspricediv div {
    font-size: 14px;
  }
  .propitemsdemarcatn {
    display: none;
  }
  .estatename {
    padding-top: 3px;
    padding-bottom: 12px;
  }
  .estateprice {
    font-size: 17px;
  }
  .amennitiesdiv {
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .propstypsstats {
    width: 97%;
    justify-content: space-between;
  }
  .wdlproptypesdiv {
    flex-wrap: wrap;
  }
  .wdlproptypesdiv {
    padding-bottom: 20px;
  }
  .wdlndpropwrapper {
    padding: 1rem 0.4rem;
  }
  .estatename {
    border-right: none;
  }
  .slidersct {
    margin-top: 0.1rem;
  }
  .regoffdashbdwrapper {
    padding: 20px 12px;
  }
  .incmeprice {
    font-size: 12px;
  }
  .dashbord-main {
    padding: 1px 8px;
  }
  .regoffprimaryheading,
  .regoffsubheading {
    font-size: 12px;
  }
  .regoffdshheading {
    flex-wrap: wrap;
  }
  .reqdatasctn {
    padding: 21px 0px 20px 0px;
    flex-wrap: wrap;
  }
  .reqdatasctn .col-md-3 {
    margin-bottom: 0.4rem;
    padding-left: 0px;
  }
}
.datefilter {
  margin-right: 1rem;
  font-size: 13px;
}
.datefilter1 {
  font-size: 13px;
}
.inppt {
  display: flex !important;
}
.showing1 {
  font-size: 14px;
  padding-left: 23px;
}
.org1 {
  color: #ffa63d;
}
.flexd1 {
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
}
.pagination-lg .page-link {
  padding: 0.75rem 0.8rem;
  font-size: 14px;
  line-height: 0.3;
  margin-right: 0.3rem;
}
.activelink {
  color: #ffa63d;
  border-color: #ffa63d;
}
.thinend {
  display: flex;
  align-items: flex-end;
  margin-right: 0.3rem;
}
.logosectionwrapp {
  background: white;
  border-radius: 4px;
  box-shadow: 0px 2px 8px rgb(3 50 154 / 10%);
}
.acc11 {
  font-size: 13px;
  text-align: left;
  padding-bottom: 1rem;
}
.topiconwrapper {
  padding-bottom: 1rem;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
}
.topicon {
  object-fit: scale-down;
}
.color-logout {
  color: #ff523d;
}
.textt1 {
  width: 83px;
  margin-left: 1rem;
  display: inline-block;
  cursor: pointer;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

.flexhead {
  flex-wrap: wrap;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(253, 250, 250);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(252, 250, 250);
  border-radius: 5px;
}

/* Handle on hover */
@media (max-width: 600px) {
  ::-webkit-scrollbar-thumb:hover {
    background: #32335a;
  }
}
.msgsub {
  font-weight: 325;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.01em;
  color: #999999;
}

.fcol {
  flex-direction: column;
}
.nopd {
  margin-bottom: 0.1rem;
}
.msgavt {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
}
.msgsub1 {
  font-size: 16px;
  line-height: 19px;
  color: #2a1b3d;
}
.datte {
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.3px;
  color: #59545f;
  width: 180px;
  text-align: center;
}
.msgw1 {
  display: flex;
  align-items: center;
  background: #ffffff;
  /* greys 3 */
  margin-top: 1rem;
  border: 1px solid #bbbbbb;
  box-sizing: border-box;
  border-radius: 8px;
  width: 98%;
  height: 100px;
  text-overflow: ellipsis;
  overflow-y: scroll;
}
.firtcontainer {
  width: 150px;
  text-align: center;
}
.firtcontainer1 {
  width: 87%;
  text-align: left;
}
.msgw12 {
  margin-left: 26px;
}
@media (max-width: 480px) {
  .msgw1 {
    flex-wrap: wrap;
    height: 162px;
  }
  .firtcontainer1,
  .firtcontainer {
    width: 100%;
    text-align: center;
  }
  .datte {
    width: 100%;
  }
  .msgsub {
    max-height: 51px;
    overflow-y: hidden;
  }
  .msgw12 {
    margin-left: 0.1rem;
  }
  .mssgeheading {
    padding-left: 0.1rem;
  }
}
.tble1 {
  padding-top: 2rem;
}
.newmessage {
  text-align: right;
  width: 98%;
}
.nnsg {
  background: #2e6af0;
  border-radius: 8px;
  color: #fff;
  padding: 0.7rem 1rem;
  cursor: pointer;
  font-size: 14px;
}

.nessw {
  width: 16px;
  object-fit: cover;
  margin-right: 0.4rem;
}
.boldtext {
  font-weight: 900;
  color: #333333;
  font-size: 14px;
}
.messagecontainer {
  margin-top: 1rem;
  border-top: 1px solid #f5f5f5;
  margin-left: 26px;
  margin-right: 1rem;
}
.senttouser {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.3px;
  color: rgba(42, 27, 61, 0.6);
  background: #f5f5f5;
  border-radius: 24px 24px 24px 0px;
  width: fit-content;
  padding: 2rem 1rem;
  margin-top: 1rem;
}
.senttouser1 {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.3px;
  color: rgba(42, 27, 61, 0.6);
  background: #f0f5ff;
  border-radius: 24px 24px 0px 24px;
  width: fit-content;
  padding: 2rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-inline-start: auto;
}
.textinputarea {
  background: #f2f2f2;
  border-radius: 24px;
  color: #59545f;
  padding-top: 2rem;
}
.textinputarea,
.textinputarea:focus {
  width: 96%;
  margin-left: 26px;
  max-width: 1000px;
  background: #f2f2f2;
  border-radius: 24px !important;
  height: 83px;
  border: none;
  outline: none;
  padding-left: 3rem;
}
.items1 {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  height: max-content;
}
.imgattc {
  object-fit: contain;
  position: relative;
  top: 4.5rem;
}
.secondd {
  object-fit: contain;
  position: relative;
  top: 4.5rem;
  cursor: pointer;
}
.cards {
  flex: 1;
  margin-right: 2rem;
}
.card-blue {
  margin-right: 0px;
}
.officerstatuscntner {
  margin: auto;
  margin-bottom: 54px;
  width: 95%;
}
@media (max-width: 1300px) {
  .piechartdv {
    margin-left: 1rem;
  }
}
@media (min-width: 1300px) {
  .mobchrtwrapper {
    width: 60%;
  }

  .piechartdv {
    width: 100%;
    height: 83%;
    min-height: 330px;
  }
  .modaltxtareafld {
    width: 100% !important;
  }
}
.properds label {
  display: contents !important;
  width: 100%;
}
/* textarea .form-control */
@media (max-width: 1420px) {
  .budgetrngcontent {
    height: 87% !important;
  }
}

#addpropmodal .modal-dialog {
  width: 66%;
  max-width: 66%;
}
#editpropmodal .modal-dialog {
  width: 66%;
  max-width: 66%;
}
@media (min-width: 1490px) {
  .piechartdv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 93%;
    min-height: 330px;
  }
  .propstatusdiv {
    width: 37%;
  }
  .chartwrapper {
    padding-bottom: 2rem;
  }

  #hotlocations {
    max-height: 402px !important;
  }
}
.shifft {
  margin-bottom: 2rem;
  border: 1px solid rgb(231, 230, 230);
  padding: 1rem;
  border-left: none;
  border-right: none;
}
.dam12 {
  border: 1px solid #2e6af0;
  background: none;
  margin-left: 0.5rem;
  color: #2e6af0;
  border-radius: 5px;
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  font-size: 11px;
}
.red1 {
  color: #ff523d;
  border: 1px solid #ff523d;
}
.text-right1d {
  width: 100%;
  text-align: right;
  padding-right: 1rem;
}
.modaladdbtn {
  max-width: 200px;
}
.slectedimgs {
  width: 245px;
  height: 166px;
  margin-right: 1rem;
  transition: ease-in-out 1s;
}
.flexcla1 .slectedimgs:hover {
  -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
  filter: blur(5px);
  transition: ease-in-out 1s;
}
.flexcla1 {
  display: flex;
  flex-wrap: wrap;
}
.cuag {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 8rem;
  right: 0.5rem;
  z-index: 2;
  display: none;
  transition: ease-in-out 1s;
  height: 0rem;
}
.imagecontanin:hover + .slectedimgs {
  -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
  filter: blur(5px);
  transition: ease-in-out 1s;
}
.imagecontanin {
  height: 200px;
  transition: ease-in-out 1s;
  border-radius: 7px;
}
.slectedimgs:hover + .cuag,
.cuag:hover {
  display: flex;
  transition: ease-in-out 1s;
}
.bld22 {
  background: #2e6af0;
  /* blue11 */
  border: 1px solid #2e6af0;
  box-sizing: border-box;
  border-radius: 8px;
  color: #fff;
}
.bld221 {
  color: #ff523d;
  border-color: #ff523d;
  font-weight: 800;
}
.addnewimag {
  text-align: right;
}
.addnwimgs {
  padding: 0.3rem 1rem;
  background: white;
  border: none;
  background: #999999;
  border-radius: 8px;
  color: #fff;
}
#myFileInput {
  display: none;
}

@media (max-width: 1300px) {
  .cards {
    max-width: 230px;
    margin-bottom: 2rem;
  }
  .officerstatuscntner {
    justify-content: inherit;
  }
}
@media (max-width: 500px) {
  .card-blue {
    margin-right: 2rem;
  }
  .officerstatuscntner {
    justify-content: center;
  }
}
.colorblud {
  color: #2e6af0 !important;
}
/* dropdown css */
.three-dots:after {
  cursor: pointer;
  color: #666666;
  content: "\2807";
  font-size: 20px;
  padding: 0 5px;
}
a,
a:hover {
  text-decoration: none !important;
}
/* a {
  text-decoration: none;
  color: white;
} */

a div {
  padding: 1rem;
}

.dropdown {
  position: absolute;
  right: 10px;
  background: #ffffff;
  border: 1px solid rgba(46, 106, 240, 0.1);
  box-sizing: border-box;
  border-radius: 8px;
  outline: none;
  opacity: 0;
  z-index: -1;
  max-height: 0;
  width: 150px;
  padding: 0.1rem;
}
.dropdown a {
  cursor: pointer;
}
.deletee {
  width: 15px;
}
.dropdown-container:focus {
  outline: none;
}

.dropdown-container:focus .dropdown {
  opacity: 1;
  z-index: 100;
  max-height: 100vh;
}
.shiftleft1 {
  position: relative;
  right: 0.1rem;
}
.flexrig1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.deletee {
  margin-right: 1rem;
}
.grrn {
  color: #0fbc49;
}
.redd2 {
  color: #eb5757;
}
.dropdown-container {
  font-weight: 500;
}
/* dropdown css */
.rdsltoptw {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #999999;
  margin-top: 0.1rem;
}
.fftop {
  top: -34px;
}
/* Custom checkbox */
.custcontainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.custcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}
.checklist1 {
  display: flex;
  margin-bottom: 1rem;
}

/* On mouse-over, add a grey background color */
.custcontainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.custcontainer input:checked ~ .checkmark {
  background-color: #fff;
  border: 1px solid #2196f3;
  border-radius: 2px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custcontainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.custcontainer .checkmark:after {
  left: 4px;
  top: 4px;
  width: 6px;
  height: 10px;
  border: 1px solid #2196f3;
  border-radius: 2px;
  border-width: 0 6px 6px 5px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(0deg);
}
/* custom checkbox */
.adjst12 {
  color: #2e6af0;
  font-size: 12px;
}
.propfilter {
  width: 190px;
  font-size: 13px;
  margin-right: 0.7rem;
}
.seel {
  font-size: 12px;
}
@media (max-width: 600px) {
  .propfilter,
  .propfilter1 {
    margin-bottom: 0.2rem;
    margin-right: 1rem;
    width: 100% !important;
  }
}
.rdsltopt{
    padding: 1rem !important;
}
input{
  line-height: 0 !important;
}
.form-control{
  font-family: "GothamBook","cursive" !important;
}